.footer {
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #999;
  padding: -30px 0px;
  width: 100%;

  :global(a) {
    color: #b0aeae;
    &:hover {
      color: #ed6c00;
    }
  }
}
